@model ErrorViewModel
@{
    ViewData["Title"] = "An error has occurred";
}

@{
    @if (Model == null)
    {
        <div>
            <h2>Ooops! An error has occurred, but don't worry. Our team is already investigating it and it will be fixed soon!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;


        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }

}

